<div class="hero-unit">
<h1 class="front-page">UCLA Dragon Boat</h1>
<p class="front-page">UCLA Dragon Boat is a competitive club sports team for current UCLA students.</p>
<p class="front-page">
  <%= image_tag @dboat_img %>
</p>
<p class="front-page">
  <%= link_to "Learn more", about_path, :class => "btn btn-primary btn-large" %>
</p>
</div>
