<h2>List of Users</h2>
<table class="table table-striped">
	<tr>
		<th>Name</th>
		<th>Email</th>
		<th>Phone</th>
	</tr>
	<% @users.each do |user| %>
	<tr>
		<td><%= user.name %></td>
		<td><%= user.email %></td>
		<td><%= user.phone %></td>
	</tr>
	<% end %>
</table>