<% flash.each do |key, value| %>
	<div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
<h2>
	Welcome <%= @user.name %>
</h2>
	<%= gravatar_for @user %>
<p>Here is your personal profile page.</p>
