<div class="row-fluid">
	<div class="span3">
		<%= render 'shared/sidebar'%>
	</div>
	<div class="span8">
		<div class="well">
		<div class="profile-info">
		<h2>
			Welcome <%= @user.name %>
		</h2>
		<p>Here is your personal profile page.</p>
		</div>
		</div>
	</div>
</div>