<div class="row-fluid">
	<div class="span4">
		<div class="well sidebar-nav">
		<!-- <%= gravatar_for @user %> -->
		<ul class="nav nav-list">
			<li class="nav-header">Dragon Boat</li>
			<li><a href="#"><i class="icon-list-alt"></i> News</li>
			<li><a href="#"><i class="icon-heart"></i> Weekly Workouts</li>
			<li><a href="#"><i class="icon-comment"></i> Coaches' Comments</li>
			<li class="nav-header">Social</li>
			<li><a href="#"><i class="icon-screenshot"></i> Assasins</li>
			<li><a href="#"><i class="icon-calendar"></i> Upcoming Events</li>
			<li><a href="#"><i class="icon-gift"></i> Suggestion Box</li>
			<li class="nav-header">Miscellaneous</li>
			<li><a href="<%= edit_user_path(current_user) %>"><i class="icon-cog"></i> Settings</li>
			<li><a href="#"><i class="icon-book"></i> Team Blog</li>
		</ul>
		</div>
	</div>
	<div class="span8">
		<div class="well">
		<div class="profile-info">
		<h2>
			Welcome <%= @user.name %>
		</h2>
		<p>Here is your personal profile page.</p>
		</div>
		</div>
	</div>
</div>